{% extends "base.html" %}
{% block title %} - {{ flatpage.title|lower }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}page.css" />{% endblock %}

{% block content %}
    <div id="page">
        <div class="content">
            <div id="flatpage">
            <div id="flatpage-title">{{ flatpage.title|lower }}</div>
            <!--<div id="flatpage-content">-->{{ flatpage.content }}<!--</div>-->
            </div>
        </div>
    </div>
{% endblock %}