{% extends "base.html" %}
{% block title %} | Blog | {{ object.title}}{% endblock %}

{% block content %}
    <div id="sidebar" class="fRight rightContent">
        <h3 class="section-title"><a href="{% url blog_index %}">Posted</a></h3>
        <ul><li>{{ object.pub_date|date:"F j, Y" }}</li></ul>
        
        <h3 class="section-title"><a href="{% url blog_tag_list %}">Tagged</a></h3>
        {% load blog_extras %}{% render_tag_links_for_object object %}
    </div>
    
    <div class="leftContent">
        <h2 class="section-title">{{ object.title }}</h2>
        <div id="entry-body">
            {{ object.body|safe }}
        </div>
    </div>

    <div id="comments">
    <h2 class="section-title">comments</h2>
    {% if object.allow_comments %}
        {% load disqus_tags %}
        {% disqus_dev %}
        {% disqus_show_comments %}
    {% else %}
        <h3>Comments have been closed for this entry.</h3>
    {% endif %}
    </div>
    
{% endblock %}